@using Curso_TOM.Models.Clients;

@model ClientViewModel;

<h1>
    Cliente: @Model.ClientFullName
</h1>
<h1>
    ID: @Model.ClientId
</h1>
<h1>
    Nacimiento: @Model.ClientBirth.ToShortDateString()
</h1>

